<!DOCTYPE html>
<html>
    <head>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
          
    
    </head>
<body >

<ion-view view-title="Friends">
  <ion-content>
      
          <div class="row">
          <div class="col s12 m4 l3">
          
           <ion-list>
               
      <ion-item ng-repeat="u in users" >
         <!-- <div class="card">
            <div class="item item-text-wrap">
                    <img src={{u.img}} height="20%" width="100%"/>
                <br>
          
     
           <div class="card-panel cyan lighten-2">
          <span class="white-text">
              <center>   <h2>{{u.name}}</h2></center>
            
          </span>
        </div>
                  </div>
                 </div>-->

      


         
          <div class="card" >
<div class="col s6 m4 l3 offset-s3">
    
    <!-- /app/home/1/eventid-->
    <a href="#/app/user"> 
            <div class="item item-text-wrap" ng-click="friendpage({{u}})">
               
                <img src={{u.img}} height="100%" width="100%"/>
                <br>

                <div class="cyan lighten-2">
                    <span class="white-text">
                        <center>
                            <b> <h2><br>{{u.name}}<br><br></h2></b>
                    </center>
            
                </span>
            </div>
  
    </div>
    </a>
      </div> 

      </div>
          
    
      
      
            </ion-item>
    </ion-list>
            
          </div>

      </div>
  </ion-content>
</ion-view>
    
    </body>
    
    
</html>