<!DOCTYPE html>
<html>
    <head>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
          
    
    </head>
<body>

<ion-view view-title="Settings">
  <ion-content>
   
      
      
  </ion-content>
</ion-view>
    
    </body>
    
</html>